body {
    background-color: #F6D8AE;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
}

/* j'arrange le container afin qu'il s'adapte à mon body ainsi qu'aux paragraphes*/
.container {
    background-color: #2E4057;
    padding: 50px;
    margin: 0 auto;
    width: 1050px;
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    height: 100px;
}

/* j'arrange ma seconde classe container qui contient 7 div pour chaque jour de la semaine */
.container2 {
    background-color: #2E4057;
    width: 50px;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: -55px;
    height: 120px;
    font-family: 'Courier New', Courier, monospace;

}
/* j'adapte le texte à la couleur du body, modifie la police et le centre*/
p {
    font-size: x-large;
    color: #F6D8AE;
    font-family: 'Courier New', Courier, monospace;
}

.p1 {
    margin-top: -45px;
    font-size: 50px;
    font-stretch: 30px;
    padding-left: 250px;
    letter-spacing: 5px;
}

.p2 {
    margin-left: -555px;
    margin-top: 20px;
    padding-left: 50px;
    letter-spacing: 3px;

}

.p3 {
    margin-top: 60px;
    margin-left: -290px;
    letter-spacing: 3px;
}
/* j'ajoute les lignes de différentes tailles et dispositions afin que celles-ci soient parallèles et s'adapte parfaitement entre et aux côtées des div,
 2 lignes entre chaque div et 2 lignes plus fines à côté */
hr {
    width: 1000px;
    margin-top: 60px;
    background-color: #2E4057;
}

.hr2 {
    width: 900px;
    margin-left: 100px;
    margin-top: -45px;
    margin-bottom: -50px;

}

.hr3 {
    width: 900px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: -50px;
}
/* je modifie la disposition du texte (jour) à la verticale afin que celui-ci s'intgégre parfaitement dans la colonne et ne dépasse pas*/
.day {
    writing-mode: vertical-rl;
    font-size: x-large;
    color: #F6D8AE;
}

#wed {
    margin-top: -70px;
}
/* j'ajoute les cases à cocher et les décale sur la droite des lignes fines, 2 cases pour chaque ligne dans chaque div des jours de la semaine */
#case {
    margin-left: 1100px;
}

/* concernant les boutons, le but était d'ajouter un effet type "omnbré" lorsque la souris passe dessus, grâce à la propriété box-shadow
ainsi qu'au background du bouton, une "animation" se créée grâce à ces deux derniers éléments ainsi qu'à la fonction "rotate"
qui permet la rotation du background de couleur*/
.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-sizing: border-box;
}

button {
    border: 0;
    background: transparent;
    color: #F6D8AE;
    position: relative;
    overflow: hidden;
    width: 90px;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all 0.2s;
    margin: 10px;
}

button::after {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
    transition: all .5s;
}

button:hover::after {
    transform: rotate(150deg);
}

